<%- include("templates/header") %>
<% if (authenticated) { %>
  <h3 class="lead text-center">Movie recommendations for <%= (user) %> </h3>

  <button id="random-movie-button">Random Movie</button>
  
  <div id="movie-container" class="pb-5 mx-2">
    <!-- Your movie HTML here -->
  </div>
  
  <script>
    $(document).ready(function() {
  $('#random-movie-button').click(function() {
    $.ajax({
      url: '/random-movie',
      method: 'GET',
      success: function(movies) {
        // // Save movies to local storage
        // localStorage.setItem('movies', JSON.stringify(movies));

        // Display movies
        displayMovies(movies);
      }
    });
  });

  // // Check for movies in local storage when page loads
  // const storedMovies = JSON.parse(localStorage.getItem('movies'));
  // if (storedMovies) {
  //   displayMovies(storedMovies);
  // }
});

function displayMovies(movies) {
    let moviesHtml = '';
    for (let i = 0; i < movies.length; i++) {
      const movie = movies[i];
      moviesHtml += `
        <a href="/movie/${movie._id}">
          <div class="p-3 mb-2 bg-secondary text-white" style="border-radius: 10px;">
            <div class="row">
              <div class="col-4 d-flex justify-content-center">
                <img src="${movie.Poster_Url}" style="max-height: 100px; max-width: auto;">
              </div>
              <div class="col-8">
                <p style="font-size: medium;"><b>${movie.Title}</b></br><i>${movie.Genre}</i></p>
                ${movie.Overview}
              </div>
            </div>
          </div>
        </a>
      `;
    }
    $('#movie-container').html(moviesHtml);
  }

  </script>
  <%- include("templates/bottomnav") %>



      <% } else { %>
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Album example</h1>
              <p class="lead text-body-secondary">Something short and leading about the collection below—its contents,
                the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                entirely.
              </p>
              <p>
                <a href="/signup" class="btn btn-primary my-2">
                  Sign Up
                </a>
                <a href="/login" class="btn btn-secondary my-2">
                  Log In
                </a>
              </p>
            </div>
          </div>
        </section>
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="homepage-wireframeHD.png" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="profilepage-wireframeHD.png" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="moviepreview-wireframeHD.png" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>