<%- include("templates/header") %>
  <% if (authenticated) { %>
    <h3 class="lead text-center">Movie recommendations for <%= (user) %>
    </h3>

    <!-- Add a new search bar here -->
    <input type="text" id="search-bar" placeholder="Search for a movie" class="form-control">

    <button id="random-movie-button">Random Movie</button>
    <button id="curated-movie-button">Curated Movie</button>

    <div id="movie-container" class="pb-5 mx-2">
      <!-- Your movie HTML here -->
    </div>

    <!-- Include Fuse.js from a CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.basic.min.js"></script>

    <script>
      $(document).ready(function () {
        let movies = [];

        $('#random-movie-button').click(function () {
          $.ajax({
            url: '/random-movie',
            method: 'GET',
            success: function (data) {
              movies = data;
              displayMovies(movies);
              localStorage.clear();
              localStorage.setItem('movies', JSON.stringify(movies));
            }
          });
        });

        $('#curated-movie-button').click(function () {
          $.ajax({
            url: '/curated-movies',
            method: 'GET',
            success: function (data) {
              movies = data;
              displayMovies(movies);
              localStorage.clear();
              localStorage.setItem('movies', JSON.stringify(movies));
            }
          });
        });

        const storedMovies = JSON.parse(localStorage.getItem('movies'));
        if (storedMovies) {
          movies = storedMovies;
          displayMovies(movies);
        }

        // Fuzzy search with Fuse.js whenever the user types in the search bar
        // Fuzzy search with Fuse.js whenever the user types in the search bar
        $('#search-bar').on('input', function () {
          const searchString = $(this).val();

          if (searchString) {
            // if search string is not empty
            const fuse = new Fuse(movies, { keys: ['Title'] });
            const results = fuse.search(searchString);
            displayMovies(results.map(result => result.item));
          } else {
            // if search string is empty
            displayMovies(movies);
          }
        });
      });

      function displayMovies(movies) {
        let moviesHtml = '';
        for (let i = 0; i < movies.length; i++) {
          const movie = movies[i];
          console.log(movie);
          // Splitting the overview into an array of words
          const words = movie.Overview.split(' ');

          // Limiting the number of words to 20
          const limitedWords = words.slice(0, 20);
          const limitedOverview = limitedWords.join(' ');

          // Adding ellipsis if the original overview has more than 20 words
          const ellipsis = words.length > 20 ? '...' : '';

          moviesHtml += `
      <a href="/movie/${movie._id}">
        <div class="p-3 mb-2 bg-secondary text-white" style="border-radius: 10px;">
          <div class="row">
            <div class="col-4 d-flex justify-content-center">
              <img src="${movie.Poster_Url}" style="max-height: 100px; max-width: auto;">
            </div>
            <div class="col-8">
              <p style="font-size: medium;"><b>${movie.Title}</b></br><i>${movie.Genre}</i></p>
              ${limitedOverview}&nbsp;${ellipsis}
            </div>
          </div>
        </div>
      </a>
    `;
        }
        $('#movie-container').html(moviesHtml);
      }

    </script>
    <%- include("templates/bottomnav") %>



      <% } else { %>
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Album example</h1>
              <p class="lead text-body-secondary">Something short and leading about the collection below—its contents,
                the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                entirely.
              </p>
              <p>
                <a href="/signup" class="btn btn-primary my-2">
                  Sign Up
                </a>
                <a href="/login" class="btn btn-secondary my-2">
                  Log In
                </a>
              </p>
            </div>
          </div>
        </section>
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="homepage-wireframeHD.png" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="profilepage-wireframeHD.png" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="moviepreview-wireframeHD.png" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          // Clear local storage when entering the "else" clause
          localStorage.clear();
        </script>
        <% } %>