<%- include("templates/header") %>

  <% if (authenticated) { %>
    <div class="container text-center">
      <div class="row">
        <h3 class="lead">Movie recommendations for <%= (user) %> 

        </h3>
      </div>
    </div>
</br>
    <div class="container"></div>
    <a href="/moviedetails" style="text-decoration: none;">
        <div class="p-3 mb-2 bg-secondary text-white" style="border-radius: 10px;">
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <img src="/Mario_Movie.jpg" style="max-height: 100px; max-width: auto;">
                </div>
                <div class="col-8">
                    <p style="font-size: medium;"><b>Mario Movie</b>
                    </br><i>Comedy</i>
                    </p>
                    short movie description
                </div>
            </div>
        </div>
    </a>
    <a href="/moviedetails" style="text-decoration: none;">
        <div class="p-3 mb-2 bg-secondary text-white" style="border-radius: 10px;">
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <img src="/Guardians3.jpg" style="max-height: 100px; max-width: auto;">
                </div>
                <div class="col-8">
                    <p style="font-size: medium;"><b>Guardians of the Galaxy</b>
                    </br><i>Comedy, Action</i>
                    </p>
                    short movie description
                </div>
            </div>
        </div>
    </a>
    <a href="/moviedetails" style="text-decoration: none;">
        <div class="p-3 mb-2 bg-secondary text-white" style="border-radius: 10px;">
            <div class="row">
                <div class="col-4 d-flex justify-content-center">
                    <img src="/Suzume.jpg" style="max-height: 100px; max-width: auto;">
                </div>
                <div class="col-8">
                    <p style="font-size: medium;"><b>Suzume</b>
                    </br><i>Anime, Adventure</i>
                    </p>
                    short movie description
                </div>
            </div>
        </div>
    </a>
</div>
    <%- include("templates/bottomnav") %>
      <% } else { %>
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Album example</h1>
              <p class="lead text-body-secondary">Something short and leading about the collection below—its contents,
                the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                entirely.
              </p>
              <p>
                <a href="/signup" class="btn btn-primary my-2">
                  Sign Up
                </a>
                <a href="/login" class="btn btn-secondary my-2">
                  Log In
                </a>
              </p>
            </div>
          </div>
        </section>
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="homepage-wireframeHD.png" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="profilepage-wireframeHD.png" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <img src="moviepreview-wireframeHD.png" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>