<%- include('templates/header.ejs') %>
  <h4>Log In:</h4>
  <form action="/loginSubmit" method="POST">
    <input type="email" placeholder="Email" name="email" required>
    <input type="password" placeholder="Password" name="password" required>
    <button>Submit</button>
  </form>
<%- include('templates/footer.ejs') %>