<%- include("templates/header") %> 
<div class="navbar navbar-light bg-light text-black" style="overflow: hidden; position: fixed; justify-content:space-around; top: 0; width: 100%; margin: auto;">
    <a class="nav-link" href="/">
        <img src="/arrow.png" width="30" height="30" alt="back icon">
    </a>
    <h3><%= movie.Title %></h3>
<%- include("templates/tindernavbar") %>