<%- include("templates/header") %>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
        <div class="text-center">
          <% if (state==="success" ) { %>
            <h4>Password Changed</h4>
            <p>Your password has been successfully changed.</p>
            <p>Click the button below to go back to the login page:</p>
            <a href="/login" class="btn btn-primary">Go to login</a>
            <% } else if (state==="error" ) { %>
              <h4>Password Change Failed</h4>
              <p>
                <%= validationMessage %>
              </p>
              <p>Please try again.</p>
              <form action='/reset/<%= token %>' method='GET'>
                <button class='btn btn-primary'>Try Again</button>
              </form>
              <% } %>
        </div>
      </div>
    </div>
  </div>
  <%- include("templates/footer") %>