<!-- ChatGPT-3.5 and Bootstrap documentation was heavily used below [https://getbootstrap.com/docs/5.3/getting-started/introduction/] -->
<%- include("templates/header") %>
  <div class="container text-center col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
        <h2>Password reset link has been sent to your email.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="<%= login %>" class="btn btn-primary">Go back to login</a>
      </div>
    </div>
  </div>
<%- include("templates/footer") %>