<!-- ChatGPT-3.5 and Bootstrap documentation was heavily used below [https://getbootstrap.com/docs/5.3/getting-started/introduction/] -->
<%- include("templates/header") %>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <form
        action="/resetPassword"
        method="POST"
        class="p-4 p-md-5 border rounded-3 bg-body-tertiary"
      >
        <h4>Reset Password:</h4>
        <p>
          Please enter your email address below. We will send you a link to
          reset your password.
        </p>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingEmail"
            placeholder="name@example.com"
            name="email"
            required
          />
          <label for="floatingEmail">Email Address *</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<%- include("templates/footer") %>
