<%- include("templates/header") %>
<div class="container text-center col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <h2><%= validationMessage %></h2>
      <br />
      <%- include("templates/back-to-signup") %>
    </div>
  </div>
</div>
<%- include("templates/footer") %>
