<%- include("templates/header") %> 
<div class="container text-center">
  <div class="row">
    <h3 class="lead text-center"><%= (user) %>'s Watchlist </h3>
  </div>
</div>
<div id="filter-button">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
  </svg>
  <div id="filter-button-content"></div>
</div>
</br>
<div id="movie-container" class="pb-5 mx-2">
  <!-- Your movie HTML here -->
</div>
<script>
  var active = false;
  $("#filter-button").on("click", function () {
    if (!active) {
      $("#filter-button-content").html(`
      <ul class="list-group">
        <h2>Filter By:</h2>
        <li class="list-group-item">Rating</li>
        <li class="list-group-item">Upvotes</li>
        <li class="list-group-item">Age Group</li>
      </ul>
      `)
      active = true;
    } else {
      $("#filter-button-content").html(`<div></div>`)
      active = false;
    }
  });

  $(document).ready(function() {
    // Function to fetch and display the watchlist
    function fetchAndDisplayWatchlist() {
      $.ajax({
        url: '/display-watchlist',
        method: 'GET',
        success: function(movies) {
          // Display movies
          displayMovies(movies);
        }
      });
    }

    // Call the function to fetch and display the watchlist when the page loads
    fetchAndDisplayWatchlist();
  });

function displayMovies(movies) {
    let moviesHtml = '';
    for (let i = 0; i < movies.length; i++) {
      const movie = movies[i];
      moviesHtml += `
        <a href="/movie/watchlist/${movie._id}">
          <div class="p-3 mb-2 bg-secondary text-white" style="border-radius: 10px;">
            <div class="row">
              <div class="col-4 d-flex justify-content-center">
                <img src="${movie.Poster_Url}" style="max-height: 100px; max-width: auto;">
              </div>
              <div class="col-8">
                <p style="font-size: medium;"><b>${movie.Title}</b></br><i>${movie.Genre}</i></p>
                ${movie.Overview}
              </div>
            </div>
          </div>
        </a>
      `;
    }
    $('#movie-container').html(moviesHtml);
  }
</script>
<%- include("templates/bottomnav") %>