<!-- ChatGPT-3.5 and Bootstrap documentation was heavily used below [https://getbootstrap.com/docs/5.3/getting-started/introduction/] -->
<form action='/reset/<%= token %>/changedPassword' method='GET'>
  <button class='btn btn-primary'>Try Again</button>
</form>