<nav class="navbar navbar-light bg-light" style="overflow: hidden; position: fixed; bottom: 0; width: 100%;">
    <a class="navbar-brand" href="/">
      <img src="./img/to-do-list.png" width="30" height="30" alt="">
    </a>
</nav>
</body>
</html>