<nav class="navbar navbar-light bg-light" style="overflow: hidden; position: fixed; justify-content: space-evenly; bottom: 0; width: 100%;">
    <a class="navbar-link" href="/">
      <img src="/to-do-list.png" width="30" height="30" alt="watchlist icon">
    </a>
    <a class="nav-link" href="#">
      <img src="/home.png" width="30" height="30" alt="home icon">
    </a>
    <a class="nav-link" href="#">
      <img src="/profile-user.png" width="30" height="30" alt="profile icon">
    </a>
</nav>
</body>
</html>