<!-- ChatGPT-3.5 and Bootstrap documentation was heavily used below [https://getbootstrap.com/docs/5.3/getting-started/introduction/] -->
<div class="footer" style="overflow: hidden; position: fixed; bottom: 0; width: 100%;">

  <footer class="py-3 my-4">
    <a href="/" class="nav-link px-2  text-center nav-item">Home</a>
    <p class="text-center text-muted">© MovieMate</p>
  </footer>
</div>
</body>

</html>