<nav class="navbar navbar-light bg-light" style="overflow: hidden; position: fixed; justify-content: space-evenly; bottom: 0; width: 100%;">
    <a class="navbar-link" href="/add-to-not-interested">
      <img src="/remove.png" width="45" height="45" alt="x icon">
    </a>
    <a class="nav-link" href="/add-to-interested">
      <img src="/check.png" width="45" height="45" alt="checkmark icon">
    </a>
</nav>
</body>
</html>