<li>
    <%= user.username %>
    <button type="button" class='btn btn-success promote-button'>View Watchlist</button>
    <button type="button" class='btn btn-danger promote-button'>Remove Friend</button>
</li>